<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>337434968244-08u7agsh80sord7t4t4e0vq65khobppq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337434968244-08u7agsh80sord7t4t4e0vq65khobppq</string>
	<key>API_KEY</key>
	<string>AIzaSyBhnL4e1wXF_hJM78Wyo4RvpnTipcSGYxg</string>
	<key>GCM_SENDER_ID</key>
	<string>337434968244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KevinVu.Daily-Readings</string>
	<key>PROJECT_ID</key>
	<string>daily-readings-2ecfc</string>
	<key>STORAGE_BUCKET</key>
	<string>daily-readings-2ecfc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337434968244:ios:0d37f22529e7d497</string>
	<key>DATABASE_URL</key>
	<string>https://daily-readings-2ecfc.firebaseio.com</string>
</dict>
</plist>